$break-small: 700px;
$break-large: 1024px;

//$break-height: 610px;

// base color defs
$color-primary: #ffffff;
$color-secondary: #000000;
$color-gray: #ddd;
$color-shade-amount: 40%;
$color-trans-amount: 0.5;
// color variable map
$colors: (
    primary: (
        base: $color-primary,
        light: lighten($color-primary, $color-shade-amount),
        dark: darken($color-primary, $color-shade-amount),
        trans: transparentize($color-primary, $color-trans-amount)
    )
);
